.expenseList{
    overflow: hidden;
    scroll-behavior: smooth;
    overflow-y: scroll;
    overflow-x: hidden;
    height: 18rem;
}

.expenseList::-webkit-scrollbar{
    display: none;
}

.description{
    overflow: hidden;
    scroll-behavior: smooth;
    overflow-y: hidden;
    overflow-x: scroll;
    max-width: 35%;
    margin-left: auto;
}